.top{
  height: 100px;
  padding: 0 20px;
}
.convert{
  display: grid;
  grid-gap: 2px;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
}
.inputValue{
  font-size: 80px;
}
.outputValue{
  font-size: 80px;
}
.equals{
  font-size: 50px; 
  font-weight: bold;
}
.currencyspace{
    padding-bottom: 30px;
}