.App {
  font-family: sans-serif;
  text-align: center;
  width:563px;
  height:1218px;
  padding: 20px;
  background-color: gainsboro;
  color:black;
}
.top{
  height: 250px;
  padding: 0 20px;
}
.number {
  font-size: 100px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: right;
  margin-bottom: 30px;
}
.buttons{
  display: grid;
  grid-gap: 2px;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
}
header{
  background-color: #f5ba13;
  margin:auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

header h1{
  color:#fff;
  font-family: "McLaren" ,cursive;
  font-weight: 200;
}

footer{
  bottom: 0;
  width: 100%;
  height:2.5rem;
  margin-top:100px;
}
footer p{
    color: black;
}

.custom-select{
  width:200px;
}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}