.flexbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("./App/image/cool-background.png");
}
.flex-grid-thirds .col {
  width: 32%;
}